*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.app{
  padding: 20px;

}
.container{
  background: rgba(0, 0, 0, 0.625);
  width: 100%;
  height: 100vh;
  border-radius: 20px;
}
.search-bar{
  padding: 10px;
  margin: 5px auto;
  width: 80%;
}
.search-bar input{
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px 0px 0px 0px;
  font-size: 22px;
  color: black;
}
.temp{
  margin: 10px auto;
  padding: 10px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
}
.icon{
 
  color: aliceblue;
  border-radius: 20%;
  margin: 3px;
  padding: 2px;
}
.celsius{
  font-size: 70px;

  border-radius: 20%;
}
.celsius2{
  font-size: 60px;
}


